# Mengaktifkan Mesin Rewrite
RewriteEngine On

# Mengalihkan (Redirect) user yang mengetik .php ke URL tanpa .php
# Contoh: /latihan-sd.php -> /latihan-sd
RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
RewriteRule ^ /%1 [R=301,L]

# Menyembunyikan ekstensi .php secara internal
# Contoh: Saat user meminta /latihan-sd, server akan memuat /latihan-sd.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([\w-]+)/?$ $1.php [L,QSA]