# Aktifkan FollowSymLinks (penting untuk MAMP)
Options +FollowSymLinks -Indexes
RewriteEngine On

# Tentukan "base" dari website kamu
RewriteBase /

# Aturan untuk serve index.php di dalam direktori
DirectoryIndex index.php

# Aturan 1: Redirect jika user mengetik .php
RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
RewriteRule ^ /%1 [R=301,L]

# Aturan 2: Sembunyikan .php (aturan internal)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L,QSA]